<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>u ball-er</title>
  <meta name="description" content="" />
  <link rel="icon" type="image/x-icon" href="https://dl.dropbox.com/s/unb7kozlrbox72t/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <!-- Moment -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.js'
    integrity='sha512-Bm8FBfOFILW7qzf514l/KJaW+VKYyErRPjBRcpCJ1IfmBJcL9PRSBo6fyhE0i8BBmBbiMyQrNC97m1b1dDWM0g=='
    crossorigin='anonymous'></script>
  <!-- Axios -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js'
    integrity='sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ=='
    crossorigin='anonymous'></script>
  <!-- Handlebars -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
  <!-- Font Awesome -->

  <!-- Jqre -->
  <script src="https://dl.dropbox.com/s/c8wxjh81bbt6jb3/jqre.js"></script>
  <!-- JSRender -->
  <script src="https://dl.dropbox.com/s/um9pyz720lb105e/jsrender.js"></script>

  <!-- Global/scss files -->
  <link rel='stylesheet' href='https://dl.dropbox.com/s/tljrmo925z4jgdi/professional.css' type='text/css' />
  <link rel='stylesheet' href='https://dl.dropbox.com/s/h4qq1nr4z3infmv/global.css' type="text/css" />
  <link href="https://dl.dropbox.com/s/ziz98w0uh3phls0/icons.css" />

  <!-- Library from dropbox -->


  <link rel="stylesheet" href="" />
  <script src="index.js"></script>
</head>

<body>
  {{{body}}}
  <div class="target"></div>
</body>

</html>