.table__master__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 1fr 1fr; */
  row-gap: 0;
  justify-items: center;
  width: 100vw;
  height: 40rem;
}
.table__header {
  font-size: 3rem;
}
.table__wrapper {
  height: 20rem;
  position: relative;
  width: 80vw;
}

.table__table {
  width: 100%;
  font-size: 2rem;
}
.table__list {
  font-size: 1.2rem;
}
@media screen and (max-width: 1200px) {
  .table__master__wrapper {
    height: 80rem;
  }
}
